footer{
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
}

.footer_top{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 35px 50px;
    gap: 200px;
    border-bottom: 1px solid #ccc;
}

.footer_address{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
}

.footer_address .footer_logo{
    color: #222;
    font-weight: 4500;
    font-size: 35px;
    letter-spacing: .5px;
}

.footer_address h4{
    color: #555;
}

.social_icons{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.facebook, .instagram, .twitter{
    font-size: 25px;
    color: #666;
    transition: color .2s ease;
    cursor: pointer;
}

.facebook:hover, .instagram:hover, .twitter:hover{
    color: #FE6A27;
}

.footer_store, .footer_terms{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.footer_store h3, .footer_terms h3{
    font-size: 22px;
    color: #222;
    font-weight: 500;
    letter-spacing: .5px;
}

.footer_nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.footer_nav p{
    color: #666;
}

.footer_btm{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_btm p{
    color: black;
    font-size: 10px;
    width: 100%;
    letter-spacing: .5px;
    text-align: center;
    line-height: 22px;
}



@media(max-width:450px){
    footer{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: white;
    }
    
    .footer_top{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 30px 20px 20px 20px;
        gap: 40px;
        border-bottom: 1px solid #ccc;
    }
    
    .footer_address{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
    
    .footer_address .footer_logo{
        color: #222;
        font-weight: 4500;
        font-size: 25px;
        letter-spacing: .5px;
    }
    
    .footer_address h4{
        color: #555;
        font-size: 16px;
    }
    
    .social_icons{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    }
    
    .facebook, .instagram, .twitter{
        font-size: 20px;
        color: #666;
        transition: color .2s ease;
        cursor: pointer;
    }
    
    .facebook:hover, .instagram:hover, .twitter:hover{
        color: #FE6A27;
    }
    
    .footer_store, .footer_terms{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    }
    
    .footer_store h3, .footer_terms h3{
        font-size: 20px;
        color: #222;
        font-weight: 500;
        letter-spacing: .5px;
    }
    
    .footer_nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
    }
    
    .footer_nav p{
        color: #666;
        font-size: 15px;
    }
    
    .footer_btm{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer_btm p{
        color: black;
        font-size: 9px;
        width: 100%;
        letter-spacing: .5px;
        text-align: center;
        line-height: 20px;
    }
}

